:root {
  --text-color-10: #ffffff;
  --text-color-20: #fefefe;
  --text-color-30: #f1f5f8;
  --text-color-40: #eeeff4;
  --text-color-50: #4690e2;
  --text-color-60: #7f858d;
  --text-color-70: #343434;

  --background-color-10: #ffffff;
  --background-color-20: #fefefe;
  --background-color-30: #f1f5f8;
  --background-color-40: #eeeff4;
  --background-color-50: #4690e2;
  --background-color-60: #7f858d;
  --background-color-70: #343434;
}
